.big-title {
  font-family: Raleway;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px; /* 102.857% */
  padding: 0 40px;
  position: absolute;
  top: 163px;
  color: white;

  span {
    color: #000;
  }

}

.page-title {
  color: #000;
  font-family: Raleway;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 128% */
  }

h2 {

}

h3 {

}

p {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 188.889% */
}

.chapo {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 188.889% */
}
