// Specific CSS for your home-page

html,
body {
  margin: 0px;
  height: 100%;
  background-color: #FFFFFF;
}

.container-home {
  height: 100%;
  width: 100%;
}

.container-home-top {
  background-image: url("https://res.cloudinary.com/dn2p7hun2/image/upload/v1701273178/ths1xcl2kvheyqoe7wxm.png");
  background-size: cover;
  height: 400px;
}

.container-home-bottom {
  background-color: white;
  padding: 120px 40px;
}

.empty-container-150 {
  width: 100%;
  height: 150px;
}

.empty-container-80 {
  width: 100%;
  height: 80px;
}
