.header-back {
  height: 60px;
  margin: 23px 40px 0 40px;

  a {
    display: flex;
    color: $amigos-grey-medium;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }

  p {
    margin-left: 10px;
    margin-top: 15px;
    color: $amigos-grey-medium;
    font-size: 14px;
  }
}
