<h1>Your registrations</h1>
<% @registrations.each do |registration| %>
<li>
  <%= "#{registration.event.title}" %>
  <br>
  <%= "#{registration.event.event_date}" %>
  <br>
  <%= "#{registration.event.short_description}" %>
  <br>
  <%= "#{registration.status}" || 'Pending' %>
</li>
<% end %>
