<div id="categories">

  <% categories = @categories.sort_by{ |m| m.name } %>

  <% categories.each do |category| %>
    <%= link_to category_path(category) do %>
      <%= cl_image_tag category.photo.key, height: 500, width: 500, crop: :fill, class:"category-image" %>
      <p><%= category.name.capitalize %></p>
    <% end %>
  <% end %>
</div>

<a href="#" data-controller="scroll-to-top" data-action="click->scroll-to-top#goToTop" class="scroll-to-top-link">
  <img src="https://res.cloudinary.com/dn2p7hun2/image/upload/v1701869473/scrollup_ai1cip.png" alt="Go up" width="80" height="80">
</a>
