<div class="header">
  <div class="profile-header">
    <%= link_to my_profile_path, class: "card-click" do %>
      <img src="https://res.cloudinary.com/dn2p7hun2/image/upload/v1701338864/fsca4rlcmf2bsmk3jbyq.png" alt="">
      <p class="profile-firstname">Bonjour <%= current_user.first_name %></p>
      <img src="https://res.cloudinary.com/dn2p7hun2/image/upload/v1701338744/cdtryazdakrijjpa2wo8.png" alt="" class="emoji">
    <% end %>
    <div class="search">
      <%= link_to my_profile_path, class: "search-click" do %>
      <img src="https://res.cloudinary.com/dn2p7hun2/image/upload/v1701339026/rxisl2uvzemnewbifidt.svg" alt="">
    <% end %>
    </div>
  </div>
</div>
