<div class="header">
  <div class="profile-header">
    <%= cl_image_tag("fsca4rlcmf2bsmk3jbyq",  width: 36, height: 36, crop: :fill) %>
    <p>Bonjour Sylvie</p>
    <%= cl_image_tag("cdtryazdakrijjpa2wo8",  width: 20, height: 20, crop: :fill) %>
  </div>
</div>
