<div data-controller="view-switcher">
  <button data-action="click->view-switcher#toggleView" data-target="view-switcher.events">
    Events
  </button>

    <button data-action="click->view-switcher#toggleView" data-target="view-switcher.categories">
    Categories
  </button>

  <div data-view-switcher-target="events">
    <!-- event view -->
    <%= render partial: 'events_list', locals: { events: @events } %>
  </div>

  <div data-view-switcher-target="categories" hidden>
    <!-- catory view -->
    <%= render partial: 'categories_list', locals: { categories: @categories } %>
  </div>
</div>
