
<%= render partial: 'header' %>

<div data-controller="view-switcher" class="event-container">

<div class="flotting-btn">
  <%= link_to "Créer un événement", new_event_path, class: "button-primary a-style" %>
</div>

  <div class="category-card">
    <button data-action="click->view-switcher#toggleView" data-view-switcher-target="eventsButton" data-disable-with="Events">
      <h1 class="event-selected">Événements</h1>
      <div class="underline"></div>
    </button>

    <button data-action="click->view-switcher#toggleView" data-target="view-switcher.categoriesButton" data-disable-with="Categories">
      <h1 class="event-selected">Catégories</h1>
      <div class="underline"></div>
    </button>
  </div>


  <div data-view-switcher-target="events">
    <!-- event view -->
    <%= render partial: 'events_list', locals: { events: @events } %>
  </div>

  <div data-view-switcher-target="categories" hidden>
    <!-- category view -->
    <%= render partial: 'categories_list', locals: { categories: @categories } %>
  </div>
</div>
