<div data-controller="view-switcher">
  <button data-action="click->view-switcher#toggleView" data-target="view-switcher.eventsButton" data-disable-with="Events">
    Événements
  </button>

  <button data-action="click->view-switcher#toggleView" data-target="view-switcher.categoriesButton" data-disable-with="Categories">
    Catégories
  </button>

  <div data-view-switcher-target="events">
    <!-- event view -->
    <%= render partial: 'events_list', locals: { events: @events } %>
  </div>

  <div data-view-switcher-target="categories" hidden>
    <!-- category view -->
    <%= render partial: 'categories_list', locals: { categories: @categories } %>
  </div>
</div>
