<div class="header-back">
  <%= link_to root_path do %>
    <%= image_tag "https://res.cloudinary.com/dn2p7hun2/image/upload/v1701342794/ubz1svndcbosxqlhqzaq.svg" %>
    <p>retour</p>
  <% end %>
</div>

<h2 class="page-title margin60">Créez votre événement</h2>
<div class="form-container">
  <%= render partial: 'form', locals: { event: @event } %>
</div>
