<div class="close-register">
  <%= link_to events_path do %>
    <p class="close">Fermer</p>
    <img src="https://res.cloudinary.com/dn2p7hun2/image/upload/v1701698624/close-popup_qhxdp5.svg" alt="">
  <% end %>
</div>

<h1 class="page-title">Votre demande a bien été envoyée</h1>
<div class="success-image"></div>
