<p class="big-title">Faites vous des amis à <span>tout âge</span></p>
<div class="container-home">
  <div class="container-home-top">
    <%= link_to "Connexion", user_session_path, class: "a-style connexion-btn" %>
  </div>
  <div class="container-home-bottom">
    <p>Amigos vous connecte à tous les événements autour de chez vous en quelques clics.</p>
      <% if  user_signed_in? %>
        <%= link_to "Vos événements", events_path, class: "button-primary-no-shadow a-style" %>
      <% else %>
        <%= link_to "S'inscrire", new_user_registration_path, class: "button-primary-no-shadow a-style" %>
    <% end %>
  </div>
</div>
