.form-container {
  width: 100%;
  padding: 20px 40px 40px 40px;
}

.form-label {
  color: #000;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
  margin-left: 16px;
}

.col-form-label {
  color: #000;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
  margin-left: 16px;
  margin-top: 30px;
}

.form-check {
  margin-bottom: 30px;
}

.form-check-label {
  color: #000;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.form-control {
  background-color: $amigos-grey-enhanced;
  border-style: none;
  height: 40px;
  padding: 0.35rem 1rem;
}

.form-select {
  border-style: none;
}

.margin60 {
  margin-top: 60px;
}

.margin-bottom40 {
  margin-bottom: 40px;
}

.underline-grey {
  height: 1px;
  width: 100%;
  background-color: $amigos-grey-light;
  position: relative;
  top: -22px;
}

.registration-confirmation {
  margin-bottom: 10px;
}

.form-select {
  background-color: $amigos-grey-enhanced;
}

.accept-block {
  width: 100%;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
