.header {
  height: 171px;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dn2p7hun2/image/upload/v1701360427/header-bg_e7zvxr.png");
}

.profile-header {
  display: flex;
  height: 36px;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
  padding-top: 50px;

  .emoji {
    position: absolute;
    left: 185px;
    top: 40px;
  }
}

.profile-firstname {
  position: absolute;
  color: white;
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  left: 86px;
  top: 40px;
}
