.header {
  height: 171px;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dn2p7hun2/image/upload/v1701360427/header-bg_e7zvxr.png");
}

.profile-header {
  display: inline-flex;
  height: 36px;
  justify-content: center;
  margin-left: 40px;
  align-items: center;
  margin-top: 30px;

  .emoji {
    position: absolute;
    left: 177px;
    top: 38px;
  }
}

.profile-firstname {
  position: absolute;
  color: white;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  left: 86px;
  top: 41px;
}
