.header {
  height: 86px;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dn2p7hun2/image/upload/v1701338126/qw3yuatse3mrbdwukgvc.png");
}

.profile-header {
  height: 40px;
  justify-content: center;
  text-align: left;
  margin: 40px;
}
