[data-search-target="searchField"] {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 20%;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
